body{
    font-family: 'Poppins', sans-serif;
}
.name-highlight{
    color:rgb(82, 57, 243);
}
h1{
    font-size : 30px;
}
.half-width{
    width: 40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;
    margin-top: 2%;
}
.half-width img{
    width:100%;
   
}